checkpoints/*
src/cpp/assets/*
llama.cpp/
kleidiai/
*.npy
*.bin
bin/
src/.DS_Store
.ipynb_checkpoints/
.DS_Store
src/c/kernels/
*kernel.cpp*
**build/*
**build/.vscode/
my_env/
processwatch/
torchat/
torchenv/
ao/
torch*
